h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color:khaki;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 32px;
    font-weight: bold;
    color: white;
}

header {
    background-image: url("images/pattern.jpeg");
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paints {
    background-color: skyblue;
}